h2 {
    color:darkolivegreen;
    text-align: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
    color:black;
    text-align: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button {
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:darksalmon;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    width: 200px;
    margin-top: 5px;
}

button:hover {
    box-shadow: 3px 4px 3px darksalmon;
}

#startpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:darkolivegreen;
    color: white;
    font-size: 30px;
    text-align: center;
}

#gameover {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#highScore {
    height:auto;
}

#high-scorePage {
    width: 50%;
    border: solid;
    background:darksalmon;
}

#highscore-header {
    display:flex;
    text-align: center;
    background-color:white;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#highscoreContainer {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name {
    margin:auto;
    height: 2px;
}

#highscore-initials {
    display: inline-block;
    padding-left: 6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#highscore-score {
    float: right;
    padding-right: 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#finalScore {
    padding-bottom:2px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#endGameBtns {
    display: none;
}
#quiz {
    display: none;
}

#result {
    display: none;
}